@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Check out these dinosaurs or add some new ones</h1>
    <p>@Html.ActionLink("See all Dinosaurs", "Index", "Animals")</p>
</div>